.wrapper {
  width: 2150px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 300px;
  justify-items: center;
  align-content: center;
  gap: 10px;
  margin: 0 auto;
  @media (max-width: 2200px) {
    width: 1790px;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  @media (max-width: 1840px) {
    width: 1430px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

  }
  @media (max-width: 1490px) {
    width: 1070px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  @media (max-width: 1130px) {
    width: 710px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  @media (max-width: 790px) {
    width: 350px;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

  }
}